In [1]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: six in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.16.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: ipython>=1.0 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (7.30.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.36-cp39-cp39-win_amd64.whl (1.6 MB)
Requirement already satisfied: colorama in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (49.2.1)
Requirement already satisfied: backcall in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: matplotlib-inline in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pygments in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.24)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.2-cp39-cp39-win_amd64.whl (101 kB)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Using legacy 'setup.py install' for prettytable, since package 'wheel' is not installed.
Installing collected packages: greenlet, sqlparse, sqlalchemy, prettytable, ipython-sql
    Running setup.py install for prettytable: started
    Running setup.py install for prettytable: finished with status 'done'
Successfully installed greenlet-1.1.2 ipython-sql-0.4.0 prettytable-0.7.2 sqlalchemy-1.4.36 sqlparse-0.4.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\test\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [2]:
pip install --upgrade ipython

Requirement already satisfied: ipython in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (7.30.1)
Collecting ipython
  Downloading ipython-8.3.0-py3-none-any.whl (750 kB)
Collecting stack-data
  Using cached stack_data-0.2.0-py3-none-any.whl (21 kB)
Requirement already satisfied: backcall in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython) (3.0.24)
Requirement already satisfied: pickleshare in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython) (49.2.1)
Requirement already satisfied: decorator in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython) (5.1.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython) (2.10.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\test\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: matplotlib-inline in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython) (0.1.3)
Requirement already satisfied: jedi>=0.16 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython) (0.18.1)
Requirement already satisfied: colorama in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from ipython) (0.4.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)
Collecting executing
  Using cached executing-0.8.3-py2.py3-none-any.whl (16 kB)
Collecting asttokens
  Using cached asttokens-2.0.5-py2.py3-none-any.whl (20 kB)
Collecting pure-eval
  Using cached pure_eval-0.2.2-py3-none-any.whl (11 kB)
Requirement already satisfied: six in c:\users\test\appdata\local\programs\python\python39\lib\site-packages (from asttokens->stack-data->ipython) (1.16.0)
Installing collected packages: pure-eval, executing, asttokens, stack-data, ipython
  Attempting uninstall: ipython
    Found existing installation: ipython 7.30.1
    Uninstalling ipython-7.30.1:
      Successfully uninstalled ipython-7.30.1
Successfully installed asttokens-2.0.5 executing-0.8.3 ipython-8.3.0 pure-eval-0.2.2 stack-data-0.2.0

In [3]:
%load_ext sql

In [60]:
%%sql 
mysql+pymysql://root:@127.0.0.1:3306/mydb

In [61]:
%sql select * from employees limit 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/mydb
5 rows affected.

[(Decimal('100'), 'Steven', 'King', 'SKING', '515.123.4567', datetime.date(1987, 6, 17), 'AD_PRES', Decimal('24000.00'), Decimal('0.00'), Decimal('0'), Decimal('90')),
 (Decimal('101'), 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', datetime.date(1987, 6, 18), 'AD_VP', Decimal('17000.00'), Decimal('0.00'), Decimal('100'), Decimal('90')),
 (Decimal('102'), 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', datetime.date(1987, 6, 19), 'AD_VP', Decimal('17000.00'), Decimal('0.00'), Decimal('100'), Decimal('90')),
 (Decimal('103'), 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', datetime.date(1987, 6, 20), 'IT_PROG', Decimal('9000.00'), Decimal('0.00'), Decimal('102'), Decimal('60')),
 (Decimal('104'), 'Bruce', 'Ernst', 'BERNST', '590.423.4568', datetime.date(1987, 6, 21), 'IT_PROG', Decimal('6000.00'), Decimal('0.00'), Decimal('103'), Decimal('60'))]

In [57]:
%%sql 
select * from employees where salary < 5000 limit 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/mydb
5 rows affected.

[(Decimal('105'), 'David', 'Austin', 'DAUSTIN', '590.423.4569', datetime.date(1987, 6, 22), 'IT_PROG', Decimal('4800.00'), Decimal('0.00'), Decimal('103'), Decimal('60')),
 (Decimal('106'), 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', datetime.date(1987, 6, 23), 'IT_PROG', Decimal('4800.00'), Decimal('0.00'), Decimal('103'), Decimal('60')),
 (Decimal('107'), 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', datetime.date(1987, 6, 24), 'IT_PROG', Decimal('4200.00'), Decimal('0.00'), Decimal('103'), Decimal('60')),
 (Decimal('115'), 'Alexander', 'Khoo', 'AKHOO', '515.127.4562', datetime.date(1987, 7, 2), 'PU_CLERK', Decimal('3100.00'), Decimal('0.00'), Decimal('114'), Decimal('30')),
 (Decimal('116'), 'Shelli', 'Baida', 'SBAIDA', '515.127.4563', datetime.date(1987, 7, 3), 'PU_CLERK', Decimal('2900.00'), Decimal('0.00'), Decimal('114'), Decimal('30'))]

In [77]:
%%sql
select * from regions;

 * mysql+pymysql://root:***@127.0.0.1:3306/mydb
4 rows affected.

[(Decimal('1'), 'Europe\r'),
 (Decimal('2'), 'Americas\r'),
 (Decimal('3'), 'Asia\r'),
 (Decimal('4'), 'Middle East and Africa\r')]