In [5]:
import mysql.connector
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="",
  port = 3306,
  database="mydb",
    
)

myc = mydb.cursor()

myc.execute("SELECT * FROM employees")

myresult = myc.fetchall()

In [6]:
import pandas as pd

In [7]:
#save the values in a dataframe
df=pd.DataFrame(myresult,columns=myc.column_names)

In [8]:
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,1987-06-17,AD_PRES,24000.00,0.00,0,90
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,1987-06-18,AD_VP,17000.00,0.00,100,90
2,102,Lex,De Haan,LDEHAAN,515.123.4569,1987-06-19,AD_VP,17000.00,0.00,100,90
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,1987-06-20,IT_PROG,9000.00,0.00,102,60
4,104,Bruce,Ernst,BERNST,590.423.4568,1987-06-21,IT_PROG,6000.00,0.00,103,60

In [9]:
df.shape

(107, 11)